extends base

block content
    main.main
      div.signupp  
        h2.heading-secondary.ma-bt-lg SignUp New account 
        textarea#name(type="name" placeholder="name")
        textarea#pass(type="password" placeholder="password")
        textarea#confirmpass(type="password" placeholder=" Confirm password")
        textarea#Email(type="email" placeholder="Email")
        button.sign-btn submit
     
    
        
